<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor (click)="seleciona(restaurante)"><ion-icon src="assets/images/arrow-back.svg"></ion-icon></ion-anchor>
		<a></a>
	</div>
	<img src="{{restaurante.imgtopo}}" class="bg-image">
	<div class="content">
		<div class="page-header">Carrinho</div>
		
		<div *ngIf="cart.pedidos === null">
			<ion-list lines="none" class="item-list">
				<ion-item no-padding>
					<div class="info">
						Seu carrinho está vazio
					</div>
				</ion-item>
			</ion-list>
			<div class="total">
				Valor total<br>
				<span class="price">R$ -</span>
			</div>
		</div>

		<div *ngIf="cart.pedidos !== null">
			<ion-list lines="none" class="item-list">
				<ion-item no-padding *ngFor="let pedido of cart.pedidos; let i = index;">
					<div class="info">
						<div *ngIf="pedido.cardapio != null" (click)="selecionaCafe(pedido.cardapio, restaurante)">
							 {{pedido.cardapio.nome}}
							<p *ngIf='pedido.metodo != ""'>Obs: {{pedido.metodo}}</p>
						</div>
						<div *ngIf="pedido.cardapio == null" (click)="selecionaGeral(pedido.cardapioGeral, restaurante)">
							 {{pedido.cardapioGeral.nome}}
							<p *ngIf='pedido.metodo != ""'>Obs: {{pedido.metodo}}</p>
						</div>
					</div>
					<div slot="end">
						<div class="component-quantity">
							<div class="minus"><ion-icon name="f-minus" (click)="decreaseQuantity(i)"></ion-icon></div>
							<div class="number">{{pedido.quantidade}}</div>
							<div class="plus"><ion-icon name="f-plus" (click)="increaseQuantity(i)"></ion-icon></div>
						</div>
					</div>
				</ion-item>
			</ion-list>
		
			<div class="total">
				Valor total<br>
				<span class="price">R${{cart.valor_total}}</span>
			</div>
		</div>

		<div class="footer-buttons">
			<ion-button color="medium" (click)="clearCart()">Limpar Carrinho</ion-button>
			<ion-button (click)="goToEndOrder(restaurante)" [disabled]="cart.pedidos === null"  color="primary">Finalizar Pedido</ion-button>
		</div>
	</div>
</ion-content>