<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor (click)="seleciona(restaurante)"><ion-icon src="assets/images/arrow-back.svg"></ion-icon></ion-anchor>
		<ion-anchor (click)="goToCart(restaurante)"><ion-icon src="assets/images/ic_cart.svg"></ion-icon></ion-anchor>
	</div>
	<img src="{{restaurante.imgtopo}}" class="bg-image">
	<div class="content">
		<div class="page-header">Finalizar Pedido</div>

		<div *ngIf="cart.pedidos === null">
				<ion-list lines="none" class="item-list">
					<ion-item no-padding>
						<div class="info">
							Seu carrinho está vazio
						</div>
					</ion-item>
				</ion-list>
				<ion-list class="list-toppings" lines="none">
						<ion-item no-padding>
							<ion-radio slot="start" color="success"></ion-radio>
							<ion-label>Consumir no Local</ion-label>
							<ion-note slot="end" class="total">Valor Total</ion-note>
						</ion-item>
						<ion-item no-padding>
							<ion-radio slot="start" color="success"></ion-radio>
							<ion-label>Pedido para Viagem</ion-label>
							<ion-note slot="end" class="price">R$ - </ion-note>
						</ion-item>
				</ion-list>
		</div>
		
		<div *ngIf="cart.pedidos !== null">
				<ion-list class="list-itens" lines="none">
					<ion-item no-padding *ngFor="let pedido of cart.pedidos; let i = index; ">
									
						<div *ngIf="pedido.cardapio != null">
							<ion-label>{{pedido.quantidade}}x {{pedido.cardapio.nome}}</ion-label>
						</div>
						<div *ngIf="pedido.cardapio == null">
							<ion-label>{{pedido.quantidade}}x {{pedido.cardapioGeral.nome}}</ion-label>					
						</div>
						<ion-note slot="end" *ngIf="pedido.cardapio != null">R${{(pedido.quantidade*pedido.cardapio.preco) + (pedido.quantidade*pedido.acrescimoTotal)}}</ion-note>
						<ion-note slot="end" *ngIf="pedido.cardapio == null">R${{(pedido.quantidade*pedido.cardapioGeral.preco) + (pedido.quantidade*pedido.acrescimoTotal)}}</ion-note>
					</ion-item>
				</ion-list>
				
				<div>
					<p class="item-sub-title"><b>Você aceita pagar os 10%?</b></p>
					<ion-list class="list-toppings" lines="none" >
							<ion-radio-group name="consumo" ngDefaultControl [(ngModel)]="dezPorCento">
								<ion-item no-padding>
									<ion-radio slot="start" color="success" name="dez" value="Sim" checked></ion-radio>
									<ion-label>Sim</ion-label>
									<ion-note slot="end" class="total">Valor Total</ion-note>
								</ion-item>
								<ion-item no-padding>
									<ion-radio slot="start" color="success" name="dez" value="Não"></ion-radio>
									<ion-label>Não</ion-label>
									<ion-note *ngIf="dezPorCento == 'Sim'" slot="end" class="price">R${{cart.valor_total + cart.valor_total*0.10}}</ion-note>
									<ion-note *ngIf="dezPorCento != 'Sim'" slot="end" class="price">R${{cart.valor_total}}</ion-note>
								</ion-item>
							</ion-radio-group>
					</ion-list>
				</div>

				<div>
					<p class="item-sub-title"><b>Você possui algum cupom de desconto?</b></p>
					<ion-list class="list-toppings" lines="none" >
						<ion-item no-padding>
							<ion-input placeholder="Cupom de Desconto" [(ngModel)]="cupomDesc" name="card_number"></ion-input> <!---->
						</ion-item>
					</ion-list>
				</div>
				

				<div *ngIf="cart.pedidos != null">
					<p class="item-sub-title"><b>Como será o consumo?</b></p>
					<ion-list class="list-toppings" lines="none" >
						<ion-radio-group name="consumo" ngDefaultControl [(ngModel)]="retiradaData">
							<ion-item no-padding>
								<ion-radio slot="start" color="success" name="consumo" value="Consumir no Local" checked></ion-radio>
								<ion-label>Consumir no Local</ion-label>
								
							</ion-item>
							<ion-item no-padding>
								<ion-radio slot="start" color="success" name="consumo" value="Pedido para Viagem"></ion-radio>
								<ion-label>Pedido para Viagem</ion-label>
								
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</div>
		</div>
				
		<p class="item-sub-title"><b>Qual o horário da sua chegada?</b></p>
		<div class="input-time">
			<ion-datetime
				display-format="DD/MMM HH:mm"
				picker-format="DD/MMM HH:mm"
				month-short-names="JAN, FEV, MAR, ABR, MAI, JUN, JUL, AGO, SET, OUT, NOV, DEZ"
				placeholder="Data/hora para Retirada"
				minuteValues="0,10,20,30,40,50"
				max="20:30"
				cancel-text="Cancelar"
				done-text="OK"
				[(ngModel)]="isoDate"
			></ion-datetime>
		</div>
		<div class="footer-buttons">
			<ion-button (click)="seleciona(restaurante)" color="medium">Continuar Pedindo</ion-button>
			<ion-button (click)="verificaFinal()" color="primary">Finalizar Pedido</ion-button>
		</div>
	</div>
</ion-content>