<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor href="/restaurant"><ion-icon src="assets/images/arrow-back.svg"></ion-icon></ion-anchor>
		<a></a>
	</div>
	<img src="assets/images/bg-restaurant.png" class="bg-image">
	<div class="content">
		<div class="page-header">Seu pagamento foi aprovado!</div>
		
		<div class="anim">
			<p>A mesa 2 está reservada para você.</p>
			<lottie-animation-view
				[options]="{path: 'assets/anim/confirm-new-order.json', autoplay: false, loop: false}"
				[width]="120"
				[height]="120"
				(animCreated)="handleAnimation($event)">
			</lottie-animation-view>
			<p>Começaremos a preparar seu pedido para que ele esteja pronto no horário determinado.</p>
		</div>

		<div class="footer-buttons">
			<ion-button href="/tabs" color="primary">Entendido!</ion-button>
		</div>
	</div>
</ion-content>