<ion-content padding>
	<div class="profile">
		<img [src]="'assets/images/avatar.png'" class="avatar">
		<div class="name">Amanda Oliveira</div>
	</div>
	<ion-list lines="none">
		<ion-item button href="/history" no-padding>
			<ion-label>Histórico de pedidos</ion-label>
			<ion-icon slot="start" name="f-clock"></ion-icon>
		</ion-item>
		<ion-item button href="/cards" no-padding>
			<ion-label>Meus Cartões</ion-label>
			<ion-icon slot="start" name="f-credit-card"></ion-icon>
		</ion-item>
		<ion-item button href="/config" no-padding>
			<ion-label>Configurações</ion-label>
			<ion-icon slot="start" name="f-settings"></ion-icon>
		</ion-item>
		<ion-item button href="/login" no-padding>
			<ion-label>Sair</ion-label>
			<ion-icon slot="start" name="f-log-out"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
