<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor (click)="seleciona(restaurante)"><ion-icon src="assets/images/arrow-back.svg"></ion-icon></ion-anchor>
		<ion-anchor (click)="goToCart(restaurante)"><ion-icon src="assets/images/ic_cart.svg"></ion-icon></ion-anchor>
	</div>
	<img src="{{restaurante.imgtopo}}" class="bg-image">
	<div class="content">
		<div class="page-header">Fechar conta</div>
		
		<h5>Cartões cadastrados</h5>
		<div *ngFor="let cPagamento of cPagamentos; let i = index;">
			<ion-list class="card-list">
				<ion-radio-group name="selecionado" ngDefaultControl [(ngModel)]="radioData">
					<ion-item no-padding>
						<ion-radio slot="end" color="success" id="card" type="radio" name="selecionado" value="{{i}}"></ion-radio>	
						<ion-label>
							<div class="desc">****.****.****.{{cPagamento.card_number.substring(cPagamento.card_number.length-4,cPagamento.card_number.length)}}</div>
						</ion-label>
						<ion-icon slot="start" src="assets/images/{{cPagamento.payment_company_code}}.svg"></ion-icon> 
					</ion-item>
				</ion-radio-group>
			</ion-list>
		</div>
		<ion-button color="medium" fill="clear" (click)="newCard(restaurante)">Cadastrar novo cartão</ion-button>

		<div class="footer-buttons">
			<ion-button (click)="submit()"  color="primary">Finalizar Pedido</ion-button>
		</div>
	</div>
</ion-content>

<!--href="/order-confirmed"-->