<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor (click)="seleciona(restaurante)"><ion-icon src="assets/images/arrow-back.svg"></ion-icon></ion-anchor>
		<ion-anchor (click)="goToCart(restaurante)"><ion-icon src="assets/images/ic_cart.svg"></ion-icon></ion-anchor>
	</div>
	<img src="{{restaurante.imgtopo}}" class="bg-image">
	<div class="content">
		<div class="page-header">Cadastrar novo cartão</div>
		
		<ion-list lines="none">
			<ion-item no-padding>
				<ion-input placeholder="Número do Cartão" [(ngModel)]="cPagamento.card_number" name="card_number" maxlength="16" required></ion-input>
			</ion-item>
			<ion-item no-padding>
				<ion-input placeholder="Nome do Titular" [(ngModel)]="cPagamento.holder_name" name="holder_name" required></ion-input>
			</ion-item>
			<!--<ion-item no-padding>
				<ion-input placeholder="CPF"></ion-input>
			</ion-item>-->
			<ion-item no-padding>
				<ion-grid >
					<ion-row>
						<ion-col size="7">
							<ion-datetime placeholder="Vencimento" displayFormat="MM/YY" min="2018" max="2035"  [(ngModel)]="cPagamento.card_expiration" name="card_expiration" required></ion-datetime>
						</ion-col>
						<ion-col size="5">
							<ion-input placeholder="CSV" type="number" min="1" max="9999" [(ngModel)]="cPagamento.card_cvv"  name="card_cvv" required></ion-input>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-list>

		<div class="footer-buttons" *ngIf="cPagamento.card_number != null && cPagamento.holder_name != null && cPagamento.card_expiration != null && cPagamento.card_cvv != null">
			<ion-button (click)="cadastrarCPagamento()" color="primary">Cadastrar</ion-button> <!--href="/cards-list"-->
		</div>

		<div class="footer-buttons" *ngIf="cPagamento.card_number == null || cPagamento.holder_name == null || cPagamento.card_expiration == null || cPagamento.card_cvv == null">
			<ion-button color="medium">Cadastrar</ion-button> <!--href="/cards-list"-->
		</div>
					
	</div>

	
</ion-content>