<ion-content padding>
	<div class="list-status">
		<!-- <ion-icon src="assets/images/check-circle.svg"></ion-icon> -->
		<div *ngIf='history["status"] == 4'>
			<p class="status active">Pedido Confirmado</p>
			<p class="status active">Pedido em separação</p>
			<p class="status active">Pedido Pronto</p>
			<p class="status active">Pedido Entregue</p>
		</div>

		<div *ngIf='history["status"] == 3'>
			<p class="status active">Pedido Confirmado</p>
			<p class="status active">Pedido em Preparo</p>
			<p class="status active">Pedido Pronto</p>
			<p class="status">Pedido Entregue</p>
		</div>

		<div *ngIf='history["status"] == 2'>
			<p class="status active">Pedido Confirmado</p>
			<p class="status active">Pedido em Preparo</p>
			<p class="status ">Pedido Pronto</p>
			<p class="status">Pedido Entregue</p>
		</div>

		<div *ngIf='history["status"] == 1'>
			<p class="status active">Pedido Confirmado</p>
			<p class="status ">Pedido em Preparo</p>
			<p class="status ">Pedido Pronto</p>
			<p class="status">Pedido Entregue</p>
		</div>

		<div *ngIf='history["status"] == 0'>
			<p class="status ">Pedido Confirmado</p>
			<p class="status ">Pedido em Preparo</p>
			<p class="status ">Pedido Pronto</p>
			<p class="status">Pedido Entregue</p>
		</div>
	</div>
</ion-content>