.page-header {
	text-align: center;
}
.anim {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 24vh;
	flex-direction: column;
	text-align: center;
	p {
		color: var(--ion-color-medium-shade);
		font-size: 14px;
		margin: 0px;
	}
	ion-icon {
		color: var(--ion-color-primary);
		font-size: 60px;
		margin: 0.5rem 0px;
	}
}
lottie-animation-view {
    display: block;
}