<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor (click)="seleciona(restaurante)"><ion-icon src="assets/images/arrow-back.svg"></ion-icon></ion-anchor>
		<a></a>
	</div>
	<img src="{{restaurante.imgtopo}}" class="bg-image">
	<div class="content">
		<div class="page-header">Seu pagamento não foi aprovado!</div>
		
		<div class="anim">
			<lottie-animation-view
				[options]="{path: 'assets/anim/error_cross.json', autoplay: false, loop: false}"
				[width]="120"
				[height]="120"
				(animCreated)="handleAnimation($event)">
			</lottie-animation-view>
			<p>Entre em contato com a operadora do seu cartão de crédito.</p>
		</div>

		<div class="footer-buttons">
			<ion-button (click)="seleciona(restaurante)" color="primary">Entendido!</ion-button>
		</div>
	</div>
</ion-content>