<ion-content fullscreen>
	<div class="header-buttons">
		<ion-anchor href="/tabs"><ion-icon src="assets/images/x-icon.svg"></ion-icon></ion-anchor>
		<ion-anchor href="/order-cart"><ion-icon src="assets/images/ic_cart.svg"></ion-icon></ion-anchor>
	</div>
	<img src="assets/images/bg-restaurant.png" class="bg-image">
	<div class="content">
		<div class="item-title">
			<div class="page-header">Jahu Pizza Napolitana</div>
			<ion-anchor href="/restaurant" class="item-button">
				<ion-icon name="f-x-circle"></ion-icon>
			</ion-anchor>
		</div>
		<div class="page-sub-header">Rua Ramiro Barcelos, 83.</div>
		<h5>Sobre</h5>
		<div class="text">
			<p>Com um ambiente arquitetônico moderno, o Octavio Café Faria Lima, a primeira unidade do Octavio Café e maior cafeteria de toda a América Latina, tornou-se um templo para os amantes de café especial contando com uma premiada equipe de baristas dedicados que são responsáveis por criar blends exclusivos e personalizados. </p>
			<p>Possui um cardápio amplo, que contempla opções de café da manhã, almoço, petiscos e janta.</p>
			<p>O Octávio Café é um lugar especial, muito mais que uma cafeteria, um ambiente que proporciona a possibilidade de se vivenciar uma experiência única, ideal desde reuniões de negócios até o happy hour.</p>
		</div>
	</div>
</ion-content>